<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Records</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
</head>
<body>
    <table id="records-table">
        <thead>
        <tr><th>ID</th><th>Name</th><th>Date</th><th>Created At</th></tr>
        </thead>
        <tbody>
            {% for r in records %}
            <tr>
                <td>{{ r.id }}</td>
                <td>{{ r.name }}</td>
                <td>{{ r.date.strftime('%Y-%m-%d %H:%M') if r.date else '—' }}</td>
                <td>{{ r.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(() => {
         $('#records-table').DataTable();
        });
    </script>
</body>
</html>